.section-hero {
  padding: 2.5rem 0 2.5rem; // 40px 0 40px

  &__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-bottom: 1px solid #eff2f7;

    @include respond(big-dekstop) {
      padding-bottom: 3rem; // 48px
    }

    @include respond(tab-land) {
      padding-bottom: 2.5rem; // 40px
    }

    @include respond(phone) {
      grid-template-columns: 1fr 3rem;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeIn 0.8s ease-out 0.6s 1 backwards;
  }

  &__image-container {
    position: relative;
  }

  &__photo {
    height: 27.5rem; // 440px
    width: auto;

    @include respond(tab-land) {
      height: 21.25rem; // 340px
    }

    @include respond(tab-port) {
      height: 16.25rem; // 260px
    }

    @include respond(phone) {
      height: 9.375rem; // 150px
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }
}

.section-about {
  padding: 2.5rem 0 2.5rem; // 40px 0 40px

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    border-bottom: 1px solid #eff2f7;
    padding-top: 5.625rem; // 90px
    padding-bottom: 8.125rem; // 130px

    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }

    @include respond(phone) {
      padding-top: 0;
      padding-bottom: 4.688rem; // 75px
    }
  }

  &__text {
    width: 75%;
    animation: moveInBottom 0.8s ease-out 0.4s 1 backwards;

    @include respond(tab-port) {
      width: 75%;
    }

    @include respond(phone) {
      width: 90%;
    }
  }
}

.section-works {
  padding: 2.5rem 0 2.5rem; // 40px 0 40px

  &__container {
    border-bottom: 1px solid #eff2f7;
    animation: moveInBottom 0.8s ease-out 0.8s 1 backwards;

    @include respond(phone) {
      padding-bottom: 2.813rem; // 45px
    }
  }

  @include respond(phone) {
    padding: 1.25rem 0 2.5rem; // 20px 0 40px
  }
}

.section-contact {
  padding: 1.25rem 0 0.625rem; // 20px 0 10px

  &__container {
    padding: 1.25rem 0 1.875rem; // 20px 0 30px;
    background-image: url(../../assets/img/background-hexagons.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    animation: moveInBottom 0.8s ease-out 1.2s 1 backwards;

    @include respond(tab-port) {
      padding: 1.25rem 2rem 1.875rem; // 20px 32px 30px;
    }

    @include respond(phone) {
      padding: 1.25rem 2.5rem 1.875rem; // 20px 40px 30px;
    }
  }
}

.footer {
  padding: 1.625rem; // 26px

  &__copy {
    animation: fadeIn 1.2s ease-out 1.4s 1 backwards;
  }

  @include respond(phone) {
    padding: 0 0 1.625rem 0; // 26px
  }
}
